.Credits {
    margin-bottom: 50px ;
}

.Credits-Transaction {
    display: flex;
    justify-content: space-around;
}

.BackgroundColor1{
    background-color: rgb(255, 255, 255);
    border: 50px solid #c5f8f8;
}

.Spacing{
    margin: 50px;
}