.addSpace{
    margin-top: 1%;
}

.Style{
    background-color: rgb(255, 255, 255);
    border: 50px solid rgb(97, 253, 253);
}

.Style2{
    background-color: rgb(255, 255, 255);
    border: 50px solid rgb(97, 253, 253);
}

.Style3{
    background-color: rgb(255, 255, 255);
    border: 50px solid rgb(97, 253, 253);
}